<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>
<body>
    <h3>Here your required details here </h3>
    <form action="/user/new" method="POST">
        
        <input name="id" type="text" placeholder="Enter your id">
        <input name="username" type="text" placeholder="Enter your username">
        <input name="email" type="email" placeholder="Enter your email">
        <input name="password" type="password" placeholder="Enter your password">

        <button>Submit</button>
    </form>
</body>
</html>